In [3]:
import pandas as pd

In [4]:
file = "C:\\Users\\mwaan\\Desktop\\DataBootCamp\\Analysis Projects & HW\\Homework\\PythonHwWk1\\Starter_Code\\PyBank\\Resources\\budget_data.csv"

In [6]:
pydata_df = pd.read_csv(file)
pydata_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [9]:
netprofit = pydata_df['Profit/Losses'].sum()
print(netprofit)

22564198